<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<!--<add name="SistemaInventarioLCDA.My.MySettings.StrConexion" connectionString="Data Source=localhost;Initial Catalog=DBLaCasaDelArte;Persist Security Info=True;User ID=sa;Password=jcminion653*"
		    providerName="System.Data.SqlClient" />-->
		<add name="SistemaInventarioLCDA.My.MySettings.StrConexion" connectionString="workstation id=DBLaCasaDelArte.mssql.somee.com;packet size=4096;user id=JoseCarlos653_SQLLogin_1;pwd=ibpzjdptqf;data source=DBLaCasaDelArte.mssql.somee.com;persist security info=False;initial catalog=DBLaCasaDelArte"
		    providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>